---
import { ScheduleAPI } from '../../../api/endpoints/schedule';
import type { ScheduleInterface } from '../../../api/interfaces/schedule.interface';

const schedule: ScheduleInterface[] = await ScheduleAPI.getSchedule();
---

<section class='races-scheduler'>
  <div class='races-scheduler-scrollcontainer'>
    {
      schedule.map((schedule: ScheduleInterface, index: number) => (
        <button
          id={`race-${index}`}
          class='race'
          style={{ '--race-index': index }}
        >
          <h2 class='text-xl text-black'>{schedule.title}</h2>
          <p class='text-sm text-primary'>{schedule.place}</p>
        </button>
      ))
    }
  </div>
</section>

<script>
  const buttons = document.querySelectorAll('button.race');

  buttons.forEach((button, index) => {
    button.addEventListener('click', () => {
      console.log(`Race with index ${index} clicked`);
    });
  });
</script>

<style>
  .races-scheduler {
    background-color: rgb(164, 80, 80);
    border-radius: 12px;

    position: relative;
    display: flex;
    width: 100%;
    height: 44rem;
  }

  .races-scheduler-scrollcontainer {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 0 1.5rem 1.5rem 1.5rem;

    position: absolute;
    bottom: 0;
    width: 95%;
  }

  .races-scheduler-scrollcontainer .race {
    view-timeline-name: --revealing-race;
    view-timeline-axis: x;

    animation: reveal linear;
    animation-timeline: --revealing-race;
    animation-range: cover 0% cover 60%;
  }

  .race {
    scroll-snap-align: center;
    flex: 0 0 160px;

    background-color: rgba(255, 255, 255);
    border: 1px solid black;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
  }

  @keyframes reveal {
    from {
      opacity: 0;
      transform: scale(0.85);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
</style>
