---
import { GET } from '../../pages/api/teams';
import { Team } from './team';

let response = await GET();
const teams = await response.json();
---

<div class='flex flex-row justify-center align-center gap-8 flex-wrap mt-12'>
  {teams.map((team: any) => <Team team={team} client:visible />)}
</div>
