---
import Home from '../layouts/home.astro';
import CircuitsList from '../components/circuits/CircuitsList.astro';
---

<Home>
  <section class='page'>
    <h1 class='text-4xl font-bold'>Circuits</h1>
    <!--<CircuitsList />-->
  </section>
</Home>
