---
import { DriversAPI } from '../api/endpoints/drivers';
import { ScheduleAPI } from '../api/endpoints/schedule';
import { TeamsAPI } from '../api/endpoints/teams';
import F1Tabs from '../components/layout/tabs';
import RacesSchedule from '../components/ui/races-scheduler/races-scheduler';
import Home from '../layouts/home.astro';

const schedule = await ScheduleAPI.getSchedule();
const drivers = await DriversAPI.getDrivers();
const teams = await TeamsAPI.getTeams();

const tabs = [
  {
    title: 'Drivers',
    key: 'drivers-standings',
    component: 'DriversLeaderboardList',
    props: { drivers },
  },
  {
    title: 'Teams',
    key: 'teams-standings',
    component: 'TeamsLeaderboardList',
    props: { teams },
  },
];
---

<Home>
  <section class='page w-[100%]'>
    <div class='flex flex-row justify-start align-start gap-4 w-[100%]'>
      <div class='flex-[5]'>
        <RacesSchedule schedule={schedule} client:load />
      </div>
      <div class='flex-[2]'>
        <F1Tabs tabs={tabs} client:load />
      </div>
    </div>
  </section>
</Home>

<style></style>
