---
import { DriversAPI } from '../api/endpoints/drivers';
import F1Tabs from '../components/layout/tabs';
import RaceScheduler from '../components/ui/races-scheduler/races-scheduler.astro';
import Home from '../layouts/home.astro';

const drivers = await DriversAPI.getDrivers();

const tabs = [
  {
    title: 'Drivers',
    key: 'drivers-standings',
    component: 'DriversLeaderboardList',
    props: { drivers },
  },
  //{
  //  title: 'Teams',
  //  key: 'teams-standings',
  //  component: 'TeamsLeaderboardList',
  //}
];
---

<Home>
  <section class='page w-[100%]'>
    <div class='flex flex-row justify-start align-start gap-4 w-[100%]'>
      <div class='flex-[5]'>
        <RaceScheduler />
      </div>
      <div class='flex-[2]'>
        <F1Tabs tabs={tabs} client:load />
      </div>
    </div>
  </section>
</Home>

<style></style>
