---
import Home from '../layouts/home.astro';

//import { GET } from './api/drivers.js';

//let response = await GET();
//const drivers = await response.json();
//console.log('🚀 ~ file: drivers.astro:8 ~ drivers:', drivers);
---

<Home>
  <section class='page'>
    <h1 class='text-4xl font-bold'>Current season</h1>
  </section>
</Home>

<style></style>
