---
import { GET } from '../../pages/api/circuits';
import { Circuit } from './circuit';

let response = await GET();
const circuits = await response.json();
---

<div class='flex flex-row justify-center align-center gap-8 flex-wrap mt-12'>
  {circuits.map((circuit: any) => <Circuit circuit={circuit} client:visible />)}
</div>
