---
import { GET } from '../../pages/api/news';
import { New, type INews } from '../../components/news/new';

let response = await GET();
const news: INews[] = await response.json();
---

<div
  class='grid grid-cols-3 grid-rows-2 auto-rows-[192px] gap-4 max-w-[1024px]'
>
  {
    news.map((f1_new, index) => (
      <New f1_new={f1_new} index={index} client:visible />
    ))
  }
</div>
