@font-face {
  font-family: 'formula1display-regular';
  src: url('/fonts/formula1-regular_web_0-webfont.woff2') format('woff2'),
       url('/fonts/formula1-regular_web_0-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'formula1display-regular';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: var(--sports-formulaone-spacing-unit-8);
  max-width: 1440px;
}