---
import { NavBarFormulaOne } from '../components/layout/navBar.jsx';
import '../styles.css';
---

<script>
  import { $darkLightState } from '../components/app/dark-mode/dark-mode-switch';
  $darkLightState.subscribe((value) => {
    if (value === 'dark') {
      document.body.classList.remove('light');
      document.body.classList.add('dark');
    } else {
      document.body.classList.remove('dark');
      document.body.classList.add('light');
    }
  });
</script>

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Formula one fan site</title>
  </head>
  <body class='dark text-foreground bg-background'>
    <NavBarFormulaOne client:visible />
    <main class='flex flex-row justify-center align-start w-100 h-dvh'>
      <slot />
    </main>
  </body>
</html>
